h1 {
  color:#ebebeb;
  text-align:center;
}

h2 {
  color:#ebebeb;
  text-align:center;
}

body {
  background-color:#402d69;
  font-family: 'DotGothic16', sans-serif;
}

.padding-bottom {
  padding-bottom:20px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  font-size: 23px;
  color: red;
}
